<h1>Hello from, Form Manipulation</h1>
<label for="select">Select Class:</label>
<select id="select" onchange={{action this.onChange}}>
   <option value="">-- Select One --</option>
   <option value="item1">items 1</option>
   <option value="item2">items 2</option>
</select>

<label for="label">Label:</label>
<input value={{this.stateData.label}} onchange={{action (mut this.stateData.label) value="target.value"}} type="text" placeholder="Ex. ABC">

<label for="description">Description:</label>
<input value={{this.stateData.description}} onchange={{action (mut this.stateData.description) value="target.value"}} type="text" id="description" placeholder="Ex. ABC Description">

{{#if this.isPermitToSave}}
   <button {{on 'click' this.save}}>Save</button>
{{/if}}